/* /css/tasks.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-content {
    display: flex;
    align-items: center;
}

.task-content input[type="checkbox"] {
    margin-right: 10px;
}

.task-content label {
    color: #333;
}

.task-actions {
    display: flex;
}

.edit-button,
.delete-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #2e903b;
}

.edit-button {
    background-color: #2e903b;
}

.edit-button:hover {
    background-color: #1e5e27;
}

.delete-button {
    background-color: #1e5e27;
}

.delete-button:hover {
    background-color: #15411b;
}
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}
