body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


main {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-image {
    background-image: url('/images/bg.jpg'); /* Adjust the path to your background image */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.cta {
    text-align: center;
    margin-top: -140px; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2e903b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1e5e27;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
